html,
body {
    max-width: 100vw;
    overflow-x: hidden;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
p,a,h5{
    padding: 0;
    margin: 0;
}


.footerContainer{
    background-color: #F2F1E8;
}
.footerContainer a{
    font-size: 1rem;
}
.footerContainer a:hover{
    color: #ff4242;
}
.footer-copyrights p{
    text-align: center;
    padding: 2em 0 1em 0;
    margin:0;
    font-size: 0.8rem;
    color: #8d8d8d;
}

.col-12 h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: #1a1a1a;
}
