
.heroSection{
    background-color: #F9F8F6;
    padding: 5em 0;
}

.hero-col{
    width:40%;
}
.hero-col h1{
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 1em;
}
#exploreBtn {

    font-weight: 500;
    background-color: #f33737;
    border-radius: 50px;
    padding: .8rem 1em;
    color:white;
    letter-spacing: 0.1rem;
}
.comicCarousel{
    margin-right: 1em;
}
.hero-col:last-child{
    align-self: center;
    height: 100%;
}
.comicCarousel img{
    width:100%;
    height: 100%;

    object-fit: cover;

}
